{% assign on_sale = "" %}
{% if product.compareAtPrice > product.price %}
	{% let on_sale = "on-sale" %}
{% endif %}

{% unless grid_item_width %}
	{% assign grid_item_width = 'small--one-half medium--one-third large--one-fifth' %}
{% endunless %}

{% assign sold_out = "" %}
{% if product.quantity < 1 %}
	{% assign sold_out = "sold-out" %}
{% endif %}


<div class="card bg-base-100 text-base-content shadow-xl {{ on_sale }} {{ sold_out }}">
  <figure class="aspect-square"><img loading="lazy" src="{{ product.featuredImage.src | product_img_url:settings.product_card_image_height,settings.product_card_image_height,'cropped' }}" alt="{{ image.alt | escape }}" /></figure>
  {% if sold_out == "sold-out" %}<div class="badge badge-accent absolute top-4 right-4">{{ lang.outOfStock | def:'Sold out' }}</div>{% endif %}
  <div class="card-body p-4">
    <h2 class="grow">{{ product.title | def: "Your product's name" }}</h2>
    {% if on_sale == "on-sale" %}<div class="badge badge-neutral">{{ lang.onSale | def:'On sale' }}</div>{% endif %}
    <p class="text-right grow-0">
        {% if on_sale == "on-sale" %}<span class="line-through text-sm">{{ product.compareAtPrice | money }}</span>{% endif %}
        {% if product.priceVaries %}{{ lang.from | def:'From' }}{% endif %} 
        <span class="{% if on_sale == "on-sale" %}text-primary{% endif %} text-sm font-bold">{{ product.price | money }}</span>
        
    </p>
    <div class="card-actions justify-end">        
        <a class="btn btn-primary btn-sm" href="{{ product.url }}">Read more</a>
    </div>
  </div>
</div>