{% include 'daisy-breadcrumbs' %}

<section class="mx-auto" itemscope itemtype="https://schema.org/Article">
    <header>
        {% if article.tags.size > 0 %}
     	    {% for tag in article.tags %}
                <a href="?tags={{ tag }}"><div class="badge badge-accent">{{ tag }}</div></a>
            {% endfor %}
        {% endif %}
        <h1 class="mt-2 text-2xl">{{ meta.h1 }}</h1>
        <p class="text-sm">{{ article.author }}
    		<time itemprop="datePublished" datetime="{{ article.publishAt | date }}"> on {{ article.publishAt | date }}, </time>
    		<time itemprop="dateModified">updated {{ article.updatedAt | date }}</time> 
    	</p>    
    </header>
	<div class="divider divider-accent"></div>
	<div class="flex lg:flex-row flex-col justify-between">
        <article class="prose mx-auto" itemprop="articleBody">
            {{ article.html }}
        </article>
        {% if blog %}
    	<aside class="bg-base-200 text-base-content hidden lg:block lg:ml-4 p-4 max-w-md" role="complementary">
    	    {% include 'blog-sidebar' %}
        </aside>
        {% endif %}
	</div>

	<div class="divider divider-accent"></div>
	{% if blog %}
    <div class="grid grid-cols-2">
        <p><a class="btn btn-ghost" href="{{ article | url:article.previous }}" {% if article.previous == blank %}disabled{% endif %}>&larr; {{ lang.older_post | def:'Previous'}}</a></p>
    	<p class="text-right"><a class="btn btn-ghost" href="{{ article | url:article.next }}" {% if article.next == blank %}disabled{% endif %}>{{ lang.newer_post | def:'Next'}} &rarr;</a></p>
    </div>
    {% endif %}
</section>
{% if blog %}
    <div class="bg-base-200 text-base-content flex items-start mt-4 px-3 py-2 mx-auto lg:hidden"> 
        {% include 'blog-sidebar' %}
    </div>
{% endif %}