{% include 'daisy-breadcrumbs' %}

<section class="hero mt-3">
  <div class="hero-content flex-col gap-8 p-8 lg:flex-row">
    {% if collection.image.src != blank %}
    <img class="max-w-sm rounded-lg shadow-2xl aspect-auto" src="{{ collection.image.src | collection_img_url }}" alt"{{ collection.image.alt }}"/>
    {% endif %}
    <div class="text-center">
      <h1 class="text-5xl font-bold">{{ meta.h1 }}{% if currentType %} – {{ currentType }}{% endif %}{% if currentVendor %} – {{ currentVendor }}{% endif %}</h1>
      {% if collection.html != blank %}<div class="pt-6">{{ collection.html }}</div>{% endif %}
    </div>
  </div>
</section>

{% assign products = collection.products %}
{% paginate products by 8 %}

<section class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-2 mb-4">
    {% if products.size > 0 %}
    	{% for product in products %}
            {% include 'daisy-product-card' %}
    	{% endfor %}
    {% else %}
		<div>
			<p>{{ lang.no_products_found | def:'No products found'}}</p>
		</div>
	{% endif %}
</section>

{% if paginate.pages > 1 %}
	<div class="text-center mt-10">
		{% include 'daisy-pagination' %}
	</div>
{% endif %}

{% endpaginate %}
