{% if settings.grid_show %}
    <section class="p-4 mb-2 mt-2 bg-base-100 text-base-content rounded-box">
        <h2 class="text-3xl lg:text-5xl mb-4 font-bold">{{ settings.grid_heading }}</h2>
        <div class="grid grid-cols-2 gap-4">
            {% for item in settings.grid_items %}
                <div class="justify-self-center" id="item{{ forloop.index0 }}">
                    {% capture img %}item_{{ forloop.index0 }}.jpg{% endcapture %}
                    <img src="{{ img | asset_img_url:'800','0' }}" alt="{{ item.image_alt }}" class="shadow-xl" />
                </div>
            {% endfor %}
        </div>        
    </section>
{% endif %}

{% if settings.homepage_page_show %}
<section class="hero bg-base-100 text-base-content mt-10 rounded-box shadow-md md:w-auto lg:w-auto max-w-[65rem] mx-auto">
  <div class="hero-content text-center">
    <div class="">
        {% let p = pages[settings.homepage_page.id] %}
        <h1 class="text-5xl font-bold mt-8">{{ p.meta.h1 }}</h1>
        <div class="m-4 text-xl">
            {{ p.html }}
        </div>
    </div>
  </div>
</section>
{% endif %}

{% if settings.section_banner1_show %}
    {% if settings.section_banner1.size > 0 %}
        {% for links in settings.section_banner1 %}
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            <section class="card bg-base-100 w-96 md:w-auto lg:w-auto max-w-[65rem] mx-auto lg:flex-row{% if thecycle == 'odd' %}-reverse{% endif %} md:flex-row{% if thecycle == 'odd' %}-reverse{% endif %} shadow-xl mt-10 index-{{ forloop.index }}">
              {% capture link_img %}section_banner1_{{ forloop.index0 }}.jpg{% endcapture %}
              <figure class="lg:w-2/6 md:w-2/5"><img loading="lazy" src="{{ link_img | asset_img_url:'400','0', "cropped" }}" alt="{{ links.link_image_alt }}"/></figure>
              <div class="lg:w-1/3 md:w-3/5 card-body justify-center">
                {% if links.link_title != blank %}
                    <h2 class="card-title text-3xl lg:text-5xl mb-4 font-bold justify-center">{{ links.link_title }}</h2>
                {% endif %}
                {% if links.link_text != blank %}
                    <p class="text-center grow-0 mb-4">{{ links.link_text }}</p>
                {% endif %}
                {% unless links.link_url == blank and links.link2_url == blank %}
                <div class="card-actions justify-center">
                  <a href="{{ links.link_url }}" class="btn btn-primary">{{ links.link_button_title }}</a><a href="{{ links.link2_url }}" class="btn btn-primary">{{ links.link2_button_title }}</a>
                </div>
                {% endunless %}
              </div>
            </section>
        {% endfor %}
    {% endif %}
{% endif %}

{% if settings.show_slideshow %}
{% let slides = settings.slideshow_slides %}
    <section class="carousel w-full pt-10">
        {% for slide in settings.slideshow_slides %}
            {% capture slide_img %}slide_{{ forloop.index0 }}.jpg{% endcapture %}
            <div id="item{{ forloop.index0 }}" class="carousel-item w-full">
                <img src="
                    {% case settings.slideshow_img_ratio %}
                        {% when "resize" %}{{ slide_img | asset_img_url:'1536','0' }}
                        {% when "video" %}{{ slide_img | asset_img_url:'1536','864','cropped' }}
                        {% when "landscape" %}{{ slide_img | asset_img_url:'1536','1024','cropped' }}
                        {% when "square" %}{{ slide_img | asset_img_url:'1536','1536','cropped' }}
                        {% when "tall" %}{{ slide_img | asset_img_url:'1024','1536','cropped' }}
                    {% endcase %}
                " class="w-full rounded-box" alt="{{ slide.slide_img_alt }}" />
            </div> 
        {% endfor %}
    </section> 
    {% if slides.size > 1 %}
    <section class="flex justify-center w-full py-2 gap-2">
        {% for slide in settings.slideshow_slides %}
            <a href="#item{{ forloop.index0 }}" class="btn btn-xs">{{ forloop.index0 | plus:1 }}</a> 
        {% endfor %}
    </section>   
    {% endif %}
{% endif %}

{% if settings.homepage_blog_enabled %}
    <section class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 ">
        {% unless blogs[settings.homepage_blog.id] == empty %}
        	{% for article in blogs[settings.homepage_blog.id].articles limit:3 %}
                {% include 'daisy-blog-card' %}
        	{% endfor %}
        {% endunless %}
    </section>
{% endif %}





