<section class="p-10 mx-auto flex flex-col items-center prose">
{% assign searchTitle = 'Search' %}
{% title searchTitle %}

{% form 'search' %}
    <div class="join">
        <label class="join-item input input-primary"><input type="search" onfocus="this.select();" name="q" value="{{ search.terms }}" autocomplete="off" placeholder="{{ searchTitle }}" /></label>
        <select  class="join-item select select-primary w-24" name="include" value="{{search.include}}">
            <option disabled selected>{{ 'Filter' | t }}</option>
            <option value="pages,articles" {% if search.include == 'pages,articles,products' %}selected{% endif %}>{{ 'All' | t }}</option>
            <option value="articles" {% if search.include == 'articles' %}selected{% endif %}>{{ 'Articles' | t }}</option>
        </select>
        <input class="join-item btn btn-primary w-24" type="submit" value="{{ 'Search' | t }}">
    </div>
    <input type="hidden" name="filter" value="title">
    <input type="hidden" name="sorting" value="published-desc">
{% endform %}
    	
{% if search %}
    {% if search.totalCount == 0 %}
	<h4>{{ 'Your search for "%s" did not yield any results.' | t | insert:search.terms }}</h4>
    {% else %}
    <h4 class="mb-4">{{ 'Found %s ' | insert:search.totalCount }}{{ search.totalCount | pluralize:'item','items'}}</h4>
    {% endif %}

	{% if search.products %}
	<h4>Products ({{search.products.size}})</h4>
	{% for product in search.products limit:12 %}
	    <a href="{{ product | url }}">{{product.title}}</a>
    {% endfor %}
    {% endif %}
	
	{% if search.pages %}
	<h4>Pages ({{search.pages.size}})</h4>
	{% for page in search.pages limit:12 %}
	    <a href="{{ page | url }}">{{page.title}}</a>
    {% endfor %}
    {% endif %}
    
	{% if search.articles %}
    <h4>Articles ({{search.articles.size}})</h4>
	{% for article in search.articles limit:12 %}
	    <a href="{{ article | url }}">{{ article.title }}</a>
    {% endfor %}
    {% endif %}
{% endif %}

</section>
